<div class="container mt-5">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=<%= root_path %>>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
  </ol>
</nav>
</div>
<div class="container mt-3">
  <div class="card">
    <form action="/edit/<%= @user.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input name="_method" type="hidden" value="patch" />
    <div class="col-6">
          <img src="" class="card-img-top" alt=""><br>

          <%= file_field :avatar, accept: 'image/png,image/jpeg' %>
    </div>
    <div class="col-6">

    </div>
    <div class="card-body">
      <h5 class="card-title">Bio</h5>
      <p class="card-text">
        <div class="row">
          <div class="col-5">
            <textarea type="text" class="form-control" name="user[bio]"><%= @user.bio %></textarea>
          </div>
        </div>
      </p>
    </div>


  </form>
  </div>
</div>
