<!DOCTYPE html>
<html>
  <head>
    <title>Illy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <% if notice %>
    <% flash.each do |name, messages| %>
      <div class="alert alert-<%= name %>">

      <ul>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

      </div>
    <% end %>
  <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
