<!DOCTYPE html>
<html>
  <head>
    <title>Illy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <div class="super_container">

  	<!-- Header -->

  	<header class="header">

  		<!-- Top Bar -->
  		<div class="top_bar">
  			<div class="top_bar_container">
  				<div class="container">
  					<div class="row">
  						<div class="col">
  							<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
  								<div class="top_bar_phone"><span class="top_bar_title">location:</span>Los Angeles, CA</div>
  								<div class="top_bar_right ml-auto">
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>

  		<!-- Header Content -->
  		<div class="header_container">
  			<div class="container">
  				<div class="row">
  					<div class="col">
  						<div class="header_content d-flex flex-row align-items-center justify-content-start">
  							<div class="logo_container mr-auto">
  								<a href="#">
  									<div class="logo_text">Red7</div>
  								</a>
  							</div>
  							<nav class="main_nav_contaner">
  								<ul class="main_nav">
  									<li class="active"><a href="index.html">Home</a></li>
  									<li><a href="courses.html">Courses</a></li>
  									<li><a href="#">Events</a></li>
  									<li><a href="blog.html">Blog</a></li>
  									<li><a href="contact.html">Contact</a></li>
  								</ul>
  							</nav>
  							<div class="header_content_right ml-auto text-right">

  								<!-- Hamburger -->

  								<div class="user"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></div>
  								<div class="hamburger menu_mm">
  									<i class="fa fa-bars menu_mm" aria-hidden="true"></i>
  								</div>
  							</div>

  						</div>
  					</div>
  				</div>
  			</div>
  		</div>

  	</header>

  	<!-- Menu -->

  	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
  		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
  		<div class="search">
  			<form action="#" class="header_search_form menu_mm">
  				<input type="search" class="search_input menu_mm" placeholder="Search" required="required">
  				<button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
  					<i class="fa fa-search menu_mm" aria-hidden="true"></i>
  				</button>
  			</form>
  		</div>
  		<nav class="menu_nav">
  			<ul class="menu_mm">
  				<li class="menu_mm"><a href="index.html">Home</a></li>
  				<li class="menu_mm"><a href="courses.html">Courses</a></li>
  				<li class="menu_mm"><a href="instructors.html">Pricing</a></li>
  				<li class="menu_mm"><a href="blog.html">Blog</a></li>
  				<li class="menu_mm"><a href="contact.html">About Us</a></li>
  			</ul>
  		</nav>
  		<div class="menu_extra">
  			<div class="menu_phone"><span class="menu_title">phone:</span>+44 300 303 0266</div>
  			<div class="menu_social">
  				<span class="menu_title">follow us</span>
  				<ul>
  					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  				</ul>
  			</div>
  		</div>
  	</div>

  	<!-- Home -->

  	<div class="home">
  		<div class="home_content">
  			<div class="container">
  				<div class="row">
  					<div class="col text-center">
  						<h1 class="home_title">test</h1>
  						<div class="home_button trans_200"><a href="#">get started</a></div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>



  <body>
    <%= yield %>
    <% if notice %>
    <% flash.each do |name, messages| %>
      <div class="alert alert-<%= name %>">

      <ul>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

      </div>
    <% end %>
  <% end %>
  </body>
</html>
